accordian==0.3.1
Adafruit-BluefruitLE==0.9.9
asyncio==3.4.3
attrs==17.4.0
cycler==0.10.0
dbus-python==1.2.4
flake8==3.5.0
future==0.16.0
iso8601==0.1.12
matplotlib==2.1.2
mccabe==0.6.1
numpy==1.14.0
opencv-python==3.4.0.12
Pillow==8.2.0
pkg-resources==0.0.0
pluggy==0.6.0
py==1.5.2
PyAutoGUI==0.9.36
pycodestyle==2.3.1
pydbus==0.6.0
pyflakes==1.6.0
PyGLM==0.2.1a1
PyMsgBox==1.0.6
PyOpenGL==3.1.1a1
pyparsing==2.2.0
PyScreeze==0.1.13
pyserial==3.4
pytest==3.4.2
python-dateutil==2.6.1
python3-xlib==0.15
PyTweening==1.0.3
pytz==2018.3
PyYAML==3.12
ruamel.yaml==0.15.35
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
tox==2.9.1
vext==0.7.0
vext.gi==0.6.8
virtualenv==15.1.0
xlib==0.21
